body{
    font-family: sans-serif;
    margin-left: 150px;
    margin-top: 200px;
}
h2 {
    color:#b22222;
    font-weight: 100;
    font-size:40px;
    margin: 0px;
}
table {
    border-collapse: collapse;
    width: 700px;
    height: 200px;
    box-shadow: 5px 10px 20px #ddd;
}
th, td {
    text-align: right;
    border-bottom: 1px solid #ddd;
    padding-right: 20px;
}
th {
    background-color:#b22222;
    color: #fff;
    padding-left: 30px;
    padding-right: 20px;
    font-weight: 300;
}
.time{
    text-align: left;
}
.left {
    background: #ddd;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #b1aeae;
}
